<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <pipelines>

        </pipelines>
        <events>
            <event name="item:saved">
                <handler type="RealtimeNotifier.Feature.Gutter.ItemSavedNotification, RealtimeNotifier.Feature.Gutter" method="OnItemSaved" resolve="true" />
            </event>
        </events>
    </sitecore>
</configuration>
