<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <pipelines>
            <renderContentEditor role:require="Standalone or ContentManagement">
                <processor type="RealtimeNotifier.Foundation.SignalR.Pipelines.RenderContentEditor.RegisterSignalRResources, RealtimeNotifier.Foundation.SignalR">
                    <scripts hint="raw:addScriptResource">
                        <script path="/scripts/realtime-notifications-item-activities.js" order="6" />
                    </scripts>
                </processor>
            </renderContentEditor>
            <publish>
                <processor patch:after="*[@type='Sitecore.Publishing.Pipelines.Publish.ProcessQueue, Sitecore.Kernel']" type="RealtimeNotifier.Feature.ItemActivities.Pipelines.CustomPublishProcessor, RealtimeNotifier.Feature.ItemActivities"/>
            </publish>
        </pipelines>
        <events>
            <event name="item:saved">
                <handler type="RealtimeNotifier.Feature.ItemActivities.Events.ItemCreatedNotification, RealtimeNotifier.Feature.ItemActivities" method="OnItemSaved" resolve="true" />
                <handler type="RealtimeNotifier.Feature.ItemActivities.Events.ItemSavedNotification, RealtimeNotifier.Feature.ItemActivities" method="OnItemSaved" resolve="true" />
            </event>
            <event name="item:deleted">
                <handler type="RealtimeNotifier.Feature.ItemActivities.Events.ItemDeletedNotification, RealtimeNotifier.Feature.ItemActivities" method="OnItemDeleted" resolve="true" />
            </event>
            <event name="item:renamed">
                <handler type="RealtimeNotifier.Feature.ItemActivities.Events.ItemRenamedNotification, RealtimeNotifier.Feature.ItemActivities" method="OnItemRenamed" resolve="true" />
            </event>
        </events>
    </sitecore>
</configuration>
