<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <pipelines>
            <owin.initialize role:require="Standalone or ContentManagement">
                <processor type="RealtimeNotifier.Foundation.SignalR.Pipelines.OwinInitialize.InitializeSignalR, RealtimeNotifier.Foundation.SignalR" patch:after="processor[@type='Sitecore.Owin.Pipelines.Initialize.SetLoggerFactory, Sitecore.Owin']" resolve="true" />
            </owin.initialize>
            <renderContentEditor role:require="Standalone or ContentManagement">
                <!--Register the processor to bind the SignalR. Make sure you register this processor before the Sitecore.Owin.Pipelines.Initialize.StageMarker processor-->
                <processor patch:before="*[1]" type="RealtimeNotifier.Foundation.SignalR.Pipelines.RenderContentEditor.RegisterSignalRResources, RealtimeNotifier.Foundation.SignalR">
                    <scripts hint="raw:addScriptResource">
                        <script path="/scripts/notify.js" order="1" />
                        <script path="/scripts/jquery.signalr-2.4.1.min.js" order="2" />
                        <script path="/signalr/hubs" order="3" />
                        <script path="/scripts/connect-signalr.js" order="4" />
                    </scripts>
                    <styles hint="list:addStyleResource">
                        <resource>/styles/signalr.css</resource>
                        <resource>/styles/font-awesome.min.css</resource>
                    </styles>
                </processor>
            </renderContentEditor>
        </pipelines>
        <services>
            <configurator type="RealtimeNotifier.Foundation.SignalR.Configurator.RegisterDependencies, RealtimeNotifier.Foundation.SignalR" />
        </services>
    </sitecore>
</configuration>
