<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <pipelines>
            <owin.initialize role:require="Standalone or ContentManagement">
                <processor type="RealtimeNotifier.Foundation.SignalR.Pipelines.OwinInitialize.InitializeSignalR, RealtimeNotifier.Foundation.SignalR" patch:after="processor[@type='Sitecore.Owin.Pipelines.Initialize.SetLoggerFactory, Sitecore.Owin']" resolve="true" />
            </owin.initialize>
            <renderContentEditor role:require="Standalone or ContentManagement">
                <processor patch:before="*[1]" type="RealtimeNotifier.Foundation.SignalR.Pipelines.RenderContentEditor.RegisterSignalRResources, RealtimeNotifier.Foundation.SignalR">
                    <scripts hint="list:addScriptResource">
                        <resource>/scripts/notify.js</resource>
                        <resource>/scripts/jquery.signalr-2.4.1.min.js</resource>
                        <resource>/signalr/hubs</resource>
                        <resource>/scripts/connect-signalr.js</resource>                        
                    </scripts>
                    <styles hint="list:addStyleResource">
                        <resource>/styles/signalr.css</resource>
                    </styles>
                </processor>
                <processor type="RealtimeNotifier.Foundation.SignalR.Pipelines.RenderContentEditor.ContentEditorOpened, RealtimeNotifier.Foundation.SignalR" resolve="true"/>
            </renderContentEditor>
        </pipelines>
        <events>
            <!--<event name="item:saved">
                <handler type="RealtimeNotifier.Foundation.SignalR.Events.ItemSavedNotification, RealtimeNotifier.Foundation.SignalR" method="OnItemSaved" resolve="true" />
            </event>-->
        </events>
        <settings>
            <setting name="Owin.AssertStageMarkers" value="false" />
        </settings>
        <services>
            <configurator type="RealtimeNotifier.Foundation.SignalR.Configurator.RegisterDependencies, RealtimeNotifier.Foundation.SignalR" />
        </services>
    </sitecore>
</configuration>
