<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="3.4.1" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="Sitecore.Client" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.1.0" targetFramework="net48" />
  <package id="Sitecore.Owin" version="10.1.0" targetFramework="net48" />
</packages>